      /* Having same font for all the contents in the body
      Overall background of the page
      Citation for image : https://pixabay.com/images/search/vintage/
       */
       /* Read me:
       Styles class name are organized by
       frist word contains page name
       second Section
       third : # 
       example: abtSec2 i.e 'abt' = about page , 'Sec' = section , and '2' = 2nd sections
       */
       body{
        font-family: 'Times New Roman', Times, serif;
        background-image: url("../img/backGround.jpeg");
        background-size:cover;
        background-repeat: no-repeat;
      }
      /* Style for the navigation section  */
      .navTop{
        border-bottom: 6px solid rgb(255, 242, 217);
      }
      



      
      


    